body{
	padding-top: 50px;
	background-color: #EAEAEA;
}

html, body, .main-layout, .main-layout-left, .main-layout-right, .controller-googleMap{
	height:100%;
}

.main-layout{
	width: 100%;
	margin: 0px !important;
}

.map-section{
	background-color:#EEEEEE;
	box-shadow: 0px 1px 10px #CCCCCC;
	width:auto;
	height:100%;
}

#googleMap{
	width:100%;
	height:100%;
}

/*
.main-layout-left, .margin-right, .col-md-9, .col-md-3{
	padding: 0 !important;
}
*/

.col-md-9{
	padding: 0px;
}


.main-layout-right{
	overflow: auto;
}

.filter-section{
	/*margin-top: 20px;*/

	padding-top:10px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom: 10px;

	background-color:#FFFFFF;
	border-radius: 2px;
	box-shadow: 0px 1px 10px #CCCCCC;

	width:auto;
}

.filter-title{
	margin-left: 5px;
}

.filter-element{
	margin-top:5px;
	margin-bottom:5px;
	padding-top: 6px;
	padding-bottom: 6px;
/*
	margin-left: 5px;
	margin-right: 5px;
*/
	background-color: white;
	/*box-shadow: 0px 0px 3px #CCCCCC;*/
}

.filter-element-title{
	margin-bottom: 2px !important;
}


.feedback-section{
	margin-top: 20px;

	padding-top:10px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:10px;

	background-color:#FFFFFF;
	border-radius: 2px;
	box-shadow: 0px 1px 10px #CCCCCC;

	width:auto;
}

.fossil-selection{
	margin-top: 2px;
	margin-bottom: 2px;
}

.feedback-title{
	margin-left: 5px;
}

.feedback-message-form{
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;

	box-shadow: 0px 0px 3px #CCCCCC;
}

.feedback-message-delete-btn{
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.feedback-message-form-textarea{
	resize:none;
}

.feedback-message{
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	box-shadow: 0px 0px 3px #CCCCCC;
}

.feedback-message-clicked{
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: #ff4d79;
	border-style:solid;
	border-width: 1px;
	box-shadow: 0px 0px 3px #CCCCCC;
}

.feedback-message-text{
	text-align: justify;
	border-radius: 10px;
}

.feedback-message p{
	margin: 0px;
}

.feedback-message-author{
	text-align: left;
	color:#AAAAAA;
}

.feedback-message-time{
	text-align: left;
	color:#AAAAAA;
}

.feedback-message-upvote{
	text-align: left;
	color:#AAAAAA;
}

.feedback-submit-btn{
	margin-top: 5px;
	text-align: right;
}

.feedback-clear-btn{
	margin-top: 5px;
	text-align: left;
}

.feedback-form-error{
	color:#ff4d79;
}

.social-network-icons{
	/*float: right;*/
}

.social-network-icon{
	cursor: pointer;
	margin-top:8px;
}

.map-header{
	z-index: 5;
	position: absolute;
	top: 65px;
	left: 15px;
	width: 169px;
	height: 84px;
	background-color: white;
	box-shadow: 0px 0px 4px #CCCCCC;
}

.map-header-img{
	padding:10px;
}

.map-legend{
	z-index: 5;
	position: absolute;
	top: 165px;
	left: 15px;
	width: 169px;
	background-color: white;
	box-shadow: 0px 0px 4px #CCCCCC;
}

.map-legend-title{
	margin-left: 10px;
}

.map-legend-title-glyph{
	float:right;
	margin-right: 10px;
	cursor: pointer;
}

.map-legend-pin{
	height:24px;
	width:auto;
	margin-left: 10px;
}

.map-legend-content{
	overflow:auto;
}

.map-legend-content-title{
	margin-bottom: 6px !important;
}

.map-loading{
	z-index: 5;
	position: absolute;
	top: 200px;
	left: 200px;
	background-color: white;
}

.map-infowindow{
	width:400px;
}

.map-infowindow-img{
	width: 175px;
	height:auto;
	margin-right: 10px;
	cursor: pointer;
}

.infowindow-text{
	margin-bottom: 0px !important;
}


.btn-custom-primary { 
  color: #FFFFFF; 
  background-color: #FF4D79; 
  border-color: #FF4D79; 
} 

.btn-custom-primary { 
  color: #FFFFFF; 
  background-color: #FF4D79; 
  border-color: #FF4D79; 
} 
 
.btn-custom-primary:hover, 
.btn-custom-primary:focus, 
.btn-custom-primary:active, 
.btn-custom-primary.active, 
.open .dropdown-toggle.btn-custom-primary { 
  color: #FFFFFF; 
  background-color: #DE4C70; 
  border-color: #FF4D79; 
} 
 
.btn-custom-primary:active, 
.btn-custom-primary.active, 
.open .dropdown-toggle.btn-custom-primary { 
  background-image: none; 
} 
 
.btn-custom-primary.disabled, 
.btn-custom-primary[disabled], 
fieldset[disabled] .btn-custom-primary, 
.btn-custom-primary.disabled:hover, 
.btn-custom-primary[disabled]:hover, 
fieldset[disabled] .btn-custom-primary:hover, 
.btn-custom-primary.disabled:focus, 
.btn-custom-primary[disabled]:focus, 


fieldset[disabled] .btn-custom-primary:focus, 
.btn-custom-primary.disabled:active, 
.btn-custom-primary[disabled]:active, 
fieldset[disabled] .btn-custom-primary:active, 
.btn-custom-primary.disabled.active, 
.btn-custom-primary[disabled].active, 
fieldset[disabled] .btn-custom-primary.active { 
  background-color: #FF4D79; 
  border-color: #FF4D79; 
} 
 
.btn-custom-primary .badge { 
  color: #FF4D79; 
  background-color: #FFFFFF; 
}


.btn-custom-default { 
  color: #000000; 
  background-color: #EAEAEA; 
  border-color: #EAEAEA; 
} 
 
.btn-custom-default:hover, 
.btn-custom-default:focus, 
.btn-custom-default:active, 
.btn-custom-default.active, 
.open .dropdown-toggle.btn-custom-default { 
  color: #000000; 
  background-color: #D4D4D4; 
  border-color: #EAEAEA; 
} 
 
.btn-custom-default:active, 
.btn-custom-default.active, 
.open .dropdown-toggle.btn-custom-default { 
  background-image: none; 
} 
 
.btn-custom-default.disabled, 
.btn-custom-default[disabled], 
fieldset[disabled] .btn-custom-default, 
.btn-custom-default.disabled:hover, 
.btn-custom-default[disabled]:hover, 
fieldset[disabled] .btn-custom-default:hover, 
.btn-custom-default.disabled:focus, 
.btn-custom-default[disabled]:focus, 
fieldset[disabled] .btn-custom-default:focus, 
.btn-custom-default.disabled:active, 
.btn-custom-default[disabled]:active, 
fieldset[disabled] .btn-custom-default:active, 
.btn-custom-default.disabled.active, 
.btn-custom-default[disabled].active, 
fieldset[disabled] .btn-custom-default.active { 
  background-color: #EAEAEA; 
  border-color: #EAEAEA; 
} 
 
.btn-custom-default .badge { 
  color: #EAEAEA; 
  background-color: #000000; 
}

.navbar-default {
  background-color: #212a33;
  border-color: #212a33;
}
.navbar-default .navbar-brand {
  color: #f9f9f9;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #f9f9f9;
}
.navbar-default .navbar-nav > li > a {
  color: #f9f9f9;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #212a33;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #f9f9f9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #212a33;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #212a33;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #212a33;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #212a33;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #212a33;
}
.navbar-default .navbar-toggle {
  border-color: #212a33;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #212a33;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f9f9f9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f9f9f9;
}
.navbar-default .navbar-link {
  color: #f9f9f9;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f9f9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #212a33;
  }
}



/* ADMIN PAGE */

.admin-body{
	padding-bottom: 40px;
}

.admin-title{
	margin-top: 20px;
	margin-bottom:10px; 

	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;

	background-color:#FFFFFF;
	border-radius: 2px;
	box-shadow: 0px 1px 10px #CCCCCC;

}

.admin-feedback{
	margin-top: 10px;
	
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;

	background-color:#FFFFFF;
	border-radius: 2px;
	box-shadow: 0px 1px 10px #CCCCCC;

}

.admin-feedback-btn-see-comment{
	float: right;
}


.rating-star{
	height:24px;
	width: auto;
	cursor: pointer;
}

.rating{
	display: inline-block;
	text-align: center;
}
/*
.rating-empty{
	content: url("/assets/img/star/star_empty.png");
}
*/
/* 
.rating:hover ~ .rating{
	content: url("/assets/img/star/star_empty.png");
}

.rating:hover,
.rating:hover::before/*,
.rating:hover ~ .rating::before{
	content: url("/assets/img/star/star_highlight.png");
}
*/





















