body{
	padding-top: 50px;
	background-color: #EAEAEA;
}

html, body, .main-layout, .main-layout-left, .main-layout-right, .controller-googleMap{
	height:100%;
}

.main-layout{
	width: 100%;
	margin: 0px !important;
}

.map-section{
	background-color:#EEEEEE;
	box-shadow: 0px 1px 10px #CCCCCC;
	width:auto;
	height:100%;
}

#googleMap{
	width:100%;
	height:100%;
}

/*
.main-layout-left, .margin-right, .col-md-9, .col-md-3{
	padding: 0 !important;
}
*/

.col-md-9{
	padding: 0px;
}


.main-layout-right{
	overflow: auto;
}

.filter-section{
	/*margin-top: 20px;*/

	padding-top:10px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom: 10px;

	background-color:#FFFFFF;
	border-radius: 2px;
	box-shadow: 0px 1px 10px #CCCCCC;

	width:auto;
}

.filter-title{
	margin-left: 5px;
}

.filter-element{
	margin-top:10px;
	margin-bottom:10px;
	padding-top: 6px;
	padding-bottom: 6px;
/*
	margin-left: 5px;
	margin-right: 5px;
*/
	background-color: white;
	/*box-shadow: 0px 0px 3px #CCCCCC;*/
}


.feedback-section{
	margin-top: 20px;

	padding-top:10px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:10px;

	background-color:#FFFFFF;
	border-radius: 2px;
	box-shadow: 0px 1px 10px #CCCCCC;

	width:auto;
}

.feedback-title{
	margin-left: 5px;
}

.feedback-message-form{
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;

	box-shadow: 0px 0px 3px #CCCCCC;
}

.feedback-message-form-textarea{
	resize:none;
}

.feedback-message{
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;

	box-shadow: 0px 0px 3px #CCCCCC;
}

.feedback-message-text{
	text-align: justify;
	border-radius: 10px;
}

.feedback-message p{
	margin: 0px;
}

.feedback-message-author{
	text-align: left;
	color:#AAAAAA;
}

.feedback-message-time{
	text-align: left;
	color:#AAAAAA;
}

.feedback-message-upvote{
	text-align: left;
	color:#AAAAAA;
}

.feedback-submit-btn{
	margin-top: 5px;
	text-align: right;
}

.feedback-clear-btn{
	margin-top: 5px;
	text-align: left;
}

.feedback-form-error{
	color:red;
}

.map-header{
	z-index: 5;
	position: absolute;
	top: 65px;
	left: 15px;
	width: 169px;
	height: 84px;
	background-color: white;
	box-shadow: 0px 0px 4px #CCCCCC;
}

.map-header-img{
	padding:10px;
}

.map-loading{
	z-index: 5;
	position: absolute;
	top: 200px;
	left: 200px;
	background-color: white;
}

.map-infowindow{
	width:400px;
}

.map-infowindow-img{
	width: 175px;
	height:auto;
	margin-right: 10px;
	cursor: pointer;
}

.infowindow-text{
	margin-bottom: 0px !important;
}


